<div class="error">{{ errorDescription }}</div>

<div class="article-container">
  <div *ngFor="let article of articles">
    <mat-card class="article-card">
      <mat-card-title>{{ article.name }}</mat-card-title>
      <mat-card-subtitle>{{ article.description }}</mat-card-subtitle>
      <mat-card-content>
        <div>Available orderItems: {{ article.availableStock }} </div>
        <div>Product price: {{ article.price }}</div>
        <br>
        <br>
        <div>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Quantity</mat-label>
            <input matInput #quantity>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="addToCart(article, quantity.value)">Add to cart</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
